* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.parent-container {
  display: grid;
  grid-template-areas: "side-bar main-container";
  grid-template-columns: 1fr 4fr;
  background-color: #fdfdfb;
}

.side-bar {
  background-color: #868284;
  color: #fff;
  font-weight: 400;
  padding: 1.4em 1em;
}
.side-bar h4 {
  margin: 1em 0.3em;
  letter-spacing: 0.08em;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.5em;
}
.side-bar img {
  margin: 1em;
  height: 1.5em;
}

.contact-info-item {
  display: flex;
  align-items: center;
  padding: 0.8em 0em;
}
.contact-info-container h4 {
  margin-bottom: 3em;
}

.skills-container {
  margin: 3em 0.7em;
}
.skills-container h4 {
  margin-bottom: 3em;
}

.skills-list {
  list-style-type: none;
}
.skills-list li {
  margin: 1.5em;
  padding: 0.8em 0em;
}
a {
  text-decoration: none;
  color: #fff;
}

#download-cv-btn {
  background-color: #8ca0d7;
  border-width: 1px;
  border-radius: 9999px;
  box-shadow: 2px 2px 4px #1a2c74;
  padding: 0.7em;
}

.download-cv-link {
  margin: 5em;
}

.main-container {
  margin: 2.5rem;
}

hr {
  width: 10%;
  height: 0.2em;
  background-color: #000;
  margin: 1.5rem 0rem;
}
.main-container h2 {
  color: #868284;

  font-size: 1.2rem;
}

.main-container {
  letter-spacing: 0.1rem;
}
.main-container h3 {
  margin: 1.3rem 0rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 4rem;
}
.main-container h4 {
  color: #302f2f;

  line-height: 3rem;
  margin: 1.5rem 0rem;
}

.main-container p {
  text-align: justify;
  line-height: 2.5rem;
  font-size: 1rem;
  margin: 0.5rem 0rem;
}

.main-heading {
  margin-bottom: 3rem;
}

.about {
  margin: 3rem;
}
.work-experience h4 {
  font-size: 1.4rem;
}
.work-experience-item {
  margin: 3rem;
}

ul {
  line-height: 2.5rem;
  font-size: 1rem;
  padding-left: 0;
  margin-left: 3rem;
}
#key-skills-item {
  margin-top: 2rem;
}

#skills-span {
  font-weight: 700;
}

.edu-info {
  margin: 3rem;
}
.edu-info h4 {
  font-size: 1.1rem;
}
#edu-institute {
  color: #403e3f;
  font-weight: 350;
  font-size: 0.83em;
  text-align: center;
  line-height: 1em;
}

h4 > span {
  color: #403e3f;
  font-weight: 350;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5em;
}
