/* -----------------------------

Colour Palette

#B8E0D3 Middle Blue Green
#D4ECE5 light Cyan
#E3F3ED mint cream
#FFFFFF white
#8CA0D7 Wild Blue Yonder (light blue)
#1A2C74 Space Cadet (blue)
#A4B4DF light blue
#EFD6AC Wheat
#efeff2 very pale grey
#dadae3 pale grey
#a69eb0 purple/grey
#000000 black
#424B54 charcoal




-------------------------------*/

/*-----------------   Global Styles --------------------*/
* {
  box-sizing: border-box;
  background-color: #dadae3;
}
/* -----------------   Section Styles ------------------- */

/* ***************                 header             ***************  */
header {
  display: flex;
}

header h1 {
  margin-left: 2em;
}
header h2 {
  margin: 1.1em 2em;
}

#contactLogo {
  height: 1.7em;
  width: 1.7em;
  background-color: inherit;
}

#header-item {
  margin: 0rem;
  padding: 0rem;
  text-align: left;
  height: 100%;
  width: 100%;

  max-width: 100%;
}
nav {
  display: block;
  align-items: center;
  height: 3rem;
}
/* TODO: move navbar */
.nav-menu {
  display: block;
  list-style-type: none;
  align-items: center;
}

.nav-item {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

main {
  display: flex;
}
/*  ***************                 info               *************** */
.info-container {
  /* display: flex; */
  margin-left: 5em;
}

.about-me {
  width: 85%;
}
/*  ***************                 projects               *************** */

.projects-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;

  width: 80%;
}
.project-item-container {
  background-color: transparent;
  width: 100%;
  height: 15em;
  border: 0.1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 0.75em;
}
.project-item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project-item-container:hover .project-item {
  transform: rotateY(180deg);
}

.project-item-front {
  background-color: #bbb;
  color: #000;
}
.project-item-rear {
  background-color: #1e90ff;
  color: #ffffff;
  transform: rotateY(180deg);
  align-content: center;
}
.project-item-front,
.project-item-rear {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.projectImage {
  position: relative;
  height: 80%;
  width: 100%;
}
.project-item-rear {
  font-size: 0.9em;
}
/*  ***************                        CV              *************** */
.cv-container {
  display: block;
  width: 45%;
  margin-right: 5em;
  /* justify-content: flex-end; */
}
.cv-item-container {
  display: block;
  /* TODO: remove bkgrd col */
  background-color: #1a2c74;
}

.cv-item h5 :first-child {
  font-weight: 200;
}
.cv-item h3 {
  background-color: #8ca0d7;
}
#cv-emp-item h4 {
  color: #6580f0;
  font-weight: 200;
}
#cv-emp-item h5 {
  margin-left: 1em;
}

#cv-emp-item li {
  list-style-type: none;
  margin-bottom: 1.5em;
  font-size: 0.8em;
  font-weight: 800;
}
#cv-emp-item li span {
  font-weight: 200;
}
#cv-edu-item p {
  color: #6580f0;
  font-size: 0.9em;
}
#cv-edu-item span {
  color: #000000;
  font-size: 0.9em;
}
/* ***************                        skills              *************** */
.skills {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: left;
}

.skills-logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 3rem;
  max-height: 3rem;
}

figcaption {
  margin-top: 20px;
  text-align: center;
}
.skills h2 {
  margin-bottom: 3rem;
}

/* ***************                 Footer               *************** */

#contactLogoFooter {
  height: 3.5em;
  width: 3.5em;
  background-color: inherit;
  padding: 0.5em;
  margin: 0.5em;
}
