/* -----------------------------

Colour Palette

#B8E0D3 Middle Blue Green
#D4ECE5 light Cyan
#E3F3ED mint cream
#FFFFFF white
#8CA0D7 Wild Blue Yonder (light blue)
#1A2C74 Space Cadet (blue)
#A4B4DF light blue
#EFD6AC Wheat
#efeff2 very pale grey
#dadae3 pale grey
#a69eb0 purple/grey
#000000 black




-------------------------------*/

/*-----------------   Global Styles --------------------*/
* {
  box-sizing: border-box;
  background-color: #efeff2;
}
/* -----------------   Section Styles ------------------- */
/* header */
header {
  background-color: #1a2c74; /* Space Cadet (blue) */
  display: flex;
  justify-content: left;
}

header h1,
header h2 {
  background-color: #a69eb0; /* purple/grey */
}

#header-item {
  background-color: #a69eb0; /* purple/grey */
  margin: 0rem;
  padding: 0rem;
  text-align: left;
  height: 100%;
  width: 100%;
  border-color: red;
  border-style: double;
  max-width: 75%;
}
nav {
  display: block;
  align-items: center;
  height: 3rem;
  border-color: blue;
  border-style: double;
}

.nav-menu {
  display: block;
  border-color: orange;
  border-style: double;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.nav-item {
  display: inline-block;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.9rem;
}

/*  Main */
/* main {
  background-color: #efeff2;
} */

/* projects */

.projects {
  display: flex;
}

/* CV */

#cv {
  display: flex;
}

/* skills */
.skills {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: left;
}

.skills-logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 3rem;
  max-height: 3rem;
}

figcaption {
  margin-top: 20px;
  text-align: center;
}
.skills h2 {
  margin-bottom: 3rem;
}

/* footer */
footer {
  background-color: #a69eb0; /* purple/grey */
  border-color: red;
  border-style: double;
}
